
@use "mixins" as m;
@use "variables" as v;

 .containerlist {
    width: 100%;
    background-color: v.$primary;
    color: v.$seconday;
    font-size: 1.5rem;
    //display: flex;
    //flex-direction: column;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
   
    //justify-content: space-around;
    //align-items: right;

    //padding-top: 10px;
    //padding-bottom: 10px;
    


    li{
        list-style: none;
        font-style: normal;    
        padding: 10px;
    } 


    @media screen and (min-width:786px){
        @include m.desktopfooter;
    }
}